/* Navbar */
.nav-link {
    transition: 0.3s;
}
.nav-link:hover {
    color: #000;
}
.nav-link::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #ff0000;
    display: block;
    transition: 0.3s;
}
.nav-link:hover::after {
    width: 100%;
}
@media (max-width: 379px) {
    .navbar-brand .NavBrand {
        display: none;
    }
}
/* Register / Login */
.registerModal,
.loginModal {
    background-color: #45494e;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Carousel */
.banner {
    height: 500px;
}
@media (max-width: 768px) {
    .banner {
        height: auto;
    }
}