/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.h-line {
    width: 150px;
    height: 2px;
    margin: 0 auto;
}
.bg-gray {
    background-color: #45494e;
}
.bg-flour {
    background-color: #eceff2;
}
