/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.h-font {
    font-family: "Merienda", cursive;
}
.h-line {
    width: 150px;
    height: 2px;
    margin: 0 auto;
}
.btn-gray {
    background-color: #7d8593;
}
.btn-gray:hover {
    background-color: #5e636f;
}
.bg-gray {
    background-color: #45494e;
}
